@layer range-slider-element {
  /**
   * =====================
   * BASE: ESTRUTURA E COMPORTAMENTO
   * =====================
   */

  /* Compatibilidade e Reset */
  range-slider {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
    position: relative;
    block-size: var(--thumb-size);
    border-radius: var(--track-size);
    background-color: transparent;
  }

  range-slider[orientation="vertical"] {
    flex-direction: column;
    inline-size: var(--thumb-size);
    block-size: 130px;
  }

  /* Seletores compartilhados para comportamento base */
  range-slider [data-track],
  range-slider [data-track-fill],
  range-slider [data-runnable-track],
  range-slider [data-thumb] {
    box-sizing: inherit;
    pointer-events: none;
  }

  /* Comportamento das partes do slider */
  range-slider [data-track] {
    flex: 1;
    block-size: var(--track-size);
    border-radius: inherit;
    background-color: var(--range-slider-track-color, #f8f8f8);
  }

  range-slider [data-track-fill] {
    position: absolute;
    block-size: var(--track-size);
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
    background-color: var(--range-slider-fill-color, #FFD700);
  }

  range-slider [data-runnable-track] {
    position: absolute;
    inset: 0 calc(var(--thumb-size) / 2);
  }

  range-slider [data-thumb] {
    pointer-events: auto;
    touch-action: none;
    inline-size: var(--thumb-size);
    block-size: var(--thumb-size);
    position: absolute;
    margin-inline-start: calc(var(--thumb-size) / 2 * -1);
    transition: transform 200ms ease;
    will-change: transform;
    background-color: var(--range-slider-thumb-color, #FFD700);
  }

  /* Estados de interação */
  range-slider:active {
    opacity: 0.8;
  }
  
  range-slider [data-thumb]:active {
    box-shadow: none;
  }

  /* Suporte a orientação vertical */
  range-slider[orientation="vertical"] [data-track] {
    inline-size: var(--track-size);
    block-size: 100%;
  }

  range-slider[orientation="vertical"] [data-track-fill] {
    inline-size: var(--track-size);
    block-size: auto;
    border-start-start-radius: unset;
    border-end-end-radius: inherit;
  }

  range-slider[orientation="vertical"] [data-runnable-track] {
    inset: calc(var(--thumb-size) / 2) 0;
  }

  range-slider[orientation="vertical"] [data-thumb] {
    margin-inline-start: unset;
    margin-block: calc(var(--thumb-size) / 2 * -1);
  }
}
